/* CameraViewfinder */

.camera-viewfinder {
    background-color: black;
}

/* DashboardView */

label.n-inside  {
    font-weight: bold;
    font-size: 4em;
}

/* DateTimeButton */

.date-time-button-label {
    font-size: 0.6em;
}

/* EntityRow */

image.entity-icon {
    background-color: alpha(@accent_color, 0.25);
    color: @accent_color;
    border-radius: 9999px;
    padding: 9px;
}

/* SendWindow */

.code-label {
    padding: 6px 12px;
}

/* StockDetailsPane */

image.close-icon {
    padding: 3px;
}

/* StockRow */

image.stock-icon {
    background-color: alpha(@accent_color, 0.25);
    color: @accent_color;
    border-radius: 9999px;
    padding: 9px;
}

/* TimelineRow */

image.entry-icon {
    background-color: alpha(@accent_color, 0.25);
    color: @accent_color;
    border-radius: 9999px;
    padding: 6px;
}

image.exit-icon {
    background-color: alpha(@destructive_color, 0.25);
    color: @destructive_color;
    border-radius: 9999px;
    padding: 6px;
}


/* TimelineView */

.timeline-list-view {
    padding: 6px;
}
